# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*~
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# OS noise
.DS_Store
._*
Thumbs.db
Desktop.ini

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# DartNative/Dart/Pub related
**/doc/api/
.dart_tool/
.dn-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
/dist/

# Libraries should not include pubspec.lock, per
# https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
